
// colors
$black: black;
$white: white;
$ligth-black: rgb(30, 30, 30);
$ligth-gray: rgb(250, 250, 250);
$tint: rgb(8, 80, 64);
$ligth-tint: rgb(41, 136, 115);
$ligth-red: rgb(255, 92, 92);

// shadows:

// font-sizes:
$small: 0.8rem;
$normal: 1rem;
$big: 1.25rem;
$biger: 1.5rem;
$large: 2rem;
$larger: 2.5rem;